<<<<<<< HEAD
#pages_home_box{
  width: 100%;
  height: 100%;
  display: flex;
  .pages_home_menu{
    width: 256px;
  }
  .pages_home_list{
    flex: 1;
    
  }
=======
.home{
    background: red;
    width:100%;
    height:100%;
>>>>>>> 1034720a930a84ac5121d7a1e9c0fadac62398b1
}