.smollCard{
    font-size: 12px;
    .secName{
        overflow: hidden;
    }
    .sec{
        background: #fff;
        padding: 5px;
        box-sizing:border-box;
    }
    .yuiEventAndNode{
        display:flex;
        padding-top: 5px;
        padding-left: 5px;
        box-sizing:border-box;
        .images{
            width:30px;
            height:30px;
            border-radius: 50%;
        }
        .imgName{
            flex:1;
            overflow: hidden;
            line-height: 30px;
            margin-left: 10px;
        }
        button{
            height:30px;
            padding: 0 3px;
            float: right;
            margin-right: 5px;
            box-sizing: border-box;
        }
    }
    
}